# Ignore node_modules directory
node_modules

# Ignore logs
*.log

# Ignore any .env files
*.env

# Ignore the Dockerfile
Dockerfile

# Ignore .git directory
.git/

# Ignore .DS_Store (Mac OS)
.DS_Store

